.homeBackground {
    background: center / cover no-repeat url('../public/images/laskyline-resized.jpg');
}

.backgroundOpacity {
    transition: opacity 0.9s ease-in-out;
}

.contentOpacity {
    transition: opacity 1s ease-in-out; /* 1 second transition for the fade-in effect */
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}
  